.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;
  }

  .title {
    color: black;
    font-size: 18px;
    font-style: bold;
  }

  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 6px;
    color: white;
    background-color: black;
    text-align: center;
    cursor:grabbing;
    width: 100%;
    font-size: 18px;
    font-style: italic;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
    color: yellow;
    text-decoration: underline;
    background-color: black;
  }
  